*{
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    background-color:rgb(218, 174, 121);
}
.container{
    margin-top: 8vmin;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    gap: 5vmin;
}
#form{
    padding: 2vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height:50vmin;
    width: 50vmin;
    border-radius: 2vmin;
    background-color: rgb(234, 231, 229);

}
.drop{
    display:flex;
    gap: 2vmin; 
    justify-content: center;
}
.msg{
    font-weight: bolder;
}

.sel{ 
    margin-top: 1vmin;
    border-radius: 2vmin;
    border: 1.8px solid grey;
    display: flex;
    align-items: center;
    height: 2vmin;
    padding: 2vmin;
}
.sel img{
    height:2.5rem ;
}
.drop i{
    margin: 6vmin 2vmin 0px 2vmin;
}
#form input{
    width: 95%;
    border-radius: 0.5vmin;
    border: 0.5px solid grey;
    background-color: rgb(234, 231, 229);
}
select:active{
    border: 1.8px solid transparent;
    cursor: pointer;
}
#form select{
    width: 10vmin;
    background-color: rgb(234, 231, 229);
    border:none;
    outline: none;
}
#form button{
    width: 75%;
    margin-left: 15%;
    border-radius: 1vmin;
    border:0.5px solid grey;
    padding: 1vmin;
    background-color: rgb(242, 166, 219);
}
#form button:active{
    border:2px solid black ;
    cursor: pointer;
}